@font-face {
    font-family: "myriad pro regular";
    src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "gotham medium";
    src: url("../fonts/Gotham-Light.otf")
}
@font-face {
    font-family: "gotham book";
    src: url("../fonts/GothamBook.ttf")
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.open{
    width: 100% !important;
    overflow: hidden !important;
}
html{
    scroll-behavior: smooth;
    background-color: green;
}

#nav-content > ul > li, #socials > i {
    transition: all 0.2s ease-in-out;
}
#nav-content > ul > li:hover, #socials > div > i:hover {
    border-bottom:#d21242  solid 2px;
}
#nav-content > ul {
    display: flex;
    height: 100%;
}
#nav-content > ul > li{
    list-style: none;
    font-family: "myriad pro regular";
    margin:0 1.5vw;
    border-bottom: solid 2px transparent;
    height: 100%;
    display:flex;
    align-items: center;
}
#nav-content > ul > li > a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13.63%;
    background-color: rgba(0, 0, 0, 0.199);
    backdrop-filter: blur(5px);
    height:10vh ;
    border-bottom: solid 1px rgba(255, 255, 255, 0.281);
    position: fixed;
    top: 0;
    width: 100vw;

}
#nav-content {
    display: flex;
    align-items: center;
    height: 100%;
}
#socials {
display: flex;
height: 100%;
}
#socials > div {
    height: 100%;
}
#socials > div > i  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.91vw;
    color: white;
    height: 100%;
    border: solid 2px transparent;
}
#logo {
    color: #f5f5f5;
    font-family:'Roboto Bold';
    font-weight: 700;
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d21242;
    width: 65px;
    height: 65px;
    box-shadow: 12px 12px 0px -3px #f5f5f5a9
}
#nav-content-mobile {
    position: fixed;
    z-index: 1000000000000;
    width: 0;
    height: 100vh;
    top: 0;
    left: 0;
    background: #D21242;
    transition: all 0.5s ease 0s;
    overflow: hidden;
}
#news{
    margin-top: 10vh;
}

#news > div{
    display: flex;
}
#news > div > div{
    padding-top: 86px;
    padding-right: 70px;
    
}

#news > div > div > h3{
    font-family: "gotham book";
    padding-left: 106px;
}

.titre1{
    padding-left: 106px;
    color: white;

}
.titre2{
    padding-left: 106px;
    color: black;
}

.texte1{
    margin-top:5vh;
    margin-left: 106px;
    font-family: "gotham medium";
    text-align: justify;
    color: white;
}

.texte2{
    margin-top:5vh;
    margin-left: 106px;
    font-family: "gotham medium";
    text-align: justify;
    color: black;
}

#news > div > *{
    width: 50%;
}

.groupe1{
    background-color: #222222 ;
}

.groupe2{
    background-color:#F3F3F3;
}

#news > div:nth-child(2){
    flex-direction: row-reverse;
}
#action{
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height: 40vh;
    background-color:#D21242;
    padding: 0 13.63vw;
}
#action > div {
    display: flex;
    width: 50vw;
    padding-right: 100px;
    padding-bottom: 75px;
    align-items: center;
}
#action > div:nth-child(2){
    padding-right: 0;
}

#action > div > p {
    margin-left: 21px;
    color: white;
    font-family: "gotham medium";
    font-size: 15px;
}

footer {
    display: flex;
    width: 100%;
    padding: 0 13.63%;
    background-color: #242424;
    align-items: center;
    height: 20vh;
    justify-content: space-between;
}

footer > p {
    color: white;
}

@media all and (max-width: 1024px){
    nav{
        justify-content: flex-end;
    }
    #nav-content {
        display: none;
    }
    #logo{
        display: none;
    }
    #nav-content-mobile{
        display: block;

    }
    #news > div , #news > div:nth-child(2){
        flex-direction: column;

    }
    #news > div > div{
        width: 100%;
        padding-bottom:100px;
    }
    #news > div > img{
        width: 100%;
        height: auto;
    }
    #action {
        flex-direction: column;
        padding: 100px 0 0 0;
    }
    #action> div {
        padding-right: 0;
    }
}
@media all and (max-width:510px){
    footer{
        flex-direction: column;
        padding: 50px 0;
    
    }
    #action > div {
        flex-direction: column;
        gap: 20px;
    }
    #action > div > p {
        text-align: center;
    }
}
