@font-face {
    font-family: "myriad pro regular";
    src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}
*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    background-color: purple;
}
#nav-content > ul > li, #socials > i {
    transition: all 0.2s ease-in-out;
}
#nav-content > ul > li:hover, #socials > div > i:hover {
    border-bottom:#d21242  solid 2px;
}
#nav-content > ul {
    display: flex;
    height: 100%;
}
#nav-content > ul > li{
    list-style: none;
    font-family: "myriad pro regular";
    margin:0 1.5vw;
    border-bottom: solid 2px transparent;
    height: 100%;
    display:flex;
    align-items: center;
}
#nav-content > ul > li > a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13.63%;
    background-color: rgba(0, 0, 0, 0.199);
    backdrop-filter: blur(5px);
    height:10vh ;

}
#nav-content {
    display: flex;
    align-items: center;
    height: 100%;
}
#socials {
display: flex;
height: 100%;
}
#socials > div {
    height: 100%;
}
#socials > div > i  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.91vw;
    color: white;
    height: 100%;
}

#logo {
    color: #f5f5f5;
    font-family:'Roboto Bold';
    font-weight: 700;
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d21242;
    width: 65px;
    height: 65px;
    box-shadow: 12px 12px 0px -3px #F5F5F5
}

#news > div{
    display: flex;
}
#news > div > *{
    width: 50%;
}
#news > div:nth-child(2){
    flex-direction: row-reverse;
}

