@font-face {
    font-family:'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
} 

@font-face{
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.otf')
}
*{
    margin: 0;
    padding: 0;
}
header{
    min-height:100vh;
    background-image: url('../img/backgroundHeader.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
header > div, header > i {
    color: #fff;
}
#creatives{
    font-family: 'Gotham Bold';
    font-weight: 700;
    font-size:153px;
    margin-bottom: 17.5vh;
    margin-top: 45vh ;
}