@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family:'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
} 

@font-face{
    font-family: 'Gotham Light';
    src: url('../fonts/gotham/Gotham-Light.otf')
}
@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/gotham/GothamBold.ttf')
}
@font-face {
    font-family: "myriad pro regular";
    src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "gotham medium";
    src: url("../fonts/Gotham-Light.otf")
}
@font-face {
    font-family: "gotham book";
    src: url("../fonts/GothamBook.ttf")
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.open{
    width: 100% !important;
    overflow: hidden !important;
}
html{
    scroll-behavior: smooth;
}

#nav-content > ul > li, #socials > i {
    transition: all 0.2s ease-in-out;
}
#nav-content > ul > li:hover, #socials > div > i:hover {
    border-bottom:#d21242  solid 2px;
}
#nav-content > ul {
    display: flex;
    height: 100%;
}
#nav-content > ul > li{
    list-style: none;
    font-family: "myriad pro regular";
    margin:0 1.5vw;
    border-bottom: solid 2px transparent;
    height: 100%;
    display:flex;
    align-items: center;
}
#nav-content > ul > li > a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13.63%;
    background-color: rgba(0, 0, 0, 0.199);
    backdrop-filter: blur(5px);
    height:10vh ;
    border-bottom: solid 1px rgba(255, 255, 255, 0.281);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 150;

}
#nav-content {
    display: flex;
    align-items: center;
    height: 100%;
}
#socials {
display: flex;
height: 100%;
}
#socials > div {
    height: 100%;
}
#socials > div > i  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.91vw;
    color: white;
    height: 100%;
    border: solid 2px transparent;
    cursor: pointer;
}
#logo {
    color: #f5f5f5;
    font-family:'Roboto Bold';
    font-weight: 700;
    font-size: 30px;
      background: #d21242;
    width: 65px;
    height: 65px;
    box-shadow: 12px 12px 0px -3px #f5f5f5a9
}
#burger{
    display: none;
    color: #f5f5f5;
}
#nav-content-mobile {
    position: fixed;
    z-index: 1000000000000;
    width: 0;
    height: 100vh;
    top: 0;
    left: 0;
    background: #D21242;
    transition: all 0.5s ease 0s;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: 'myriad pro regular';
}
#closeBurger{
    position:absolute;
    color: #F3F3F3;
    top:50px;
    right:50px;
    filter: drop-shadow(0 0 0.75rem black);
    font-size: 30px;
    
}

#nav-content-mobile > ul > li {
    list-style: none;
    margin-top: 15px;
    align-items: center;
}
#nav-content-mobile > ul > li > a {
    text-decoration: none;
    color: #f5f5f5;
}

#nav-content-mobile > #socials{
    height: 15vh;
    font-size: 15px;
    width: 30vw;
    justify-content: space-between;
}
  /* ******************************** Header ******************************** */
header{
    min-height:100vh;
    width: 100%;
    background: url('../img/backgroundHeader.png') no-repeat border-box;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
header > div {
    color: #fff;
}
#creatives{
    font-family: 'Gotham Light';
    font-weight: 700;
    font-size:100px;
    margin-bottom: 17.5vh;
    margin-top: 50vh ;
    color: #f5f5f5;
}
#labelCTA{
    font-family: "Open Sans" , sans-serif;
    color: white;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 2vh;
}
header > a {
    text-decoration: none;
}
.fa-angle-down{
    font-size: 20px;
    color: #f5f5f5;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    border-radius: 50px;    
    transform: rotate(0deg);
    transition:  all 0.5s ease;
}
.fa-angle-down:hover{
    transform: rotate(180deg);
    color: #D21242;
    border: solid 1px #D21242;
}


/* ****************************** About ********************************** */


#about{
    min-height: 80vh;
    background: #D21242;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 13.63% 100px 13.63%;
}
#about > *{
    color: #f5f5f5;
    font-family: 'Gotham Light';
}
#about > span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh 0 20vh 0;
}
#about > span > h3{
    position: absolute;
    font-size: 247px;
    font-weight: 600;
    opacity: 30%;
    font-family: 'Roboto', sans-serif;
}
#about > span >h2{
    z-index: 2;
    text-align: center;
}
#about > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 30vh;
    flex-wrap: wrap;
    gap: 40px;
}
#about > div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
}
#about > div > div > p{
    width: 80%;
    text-align: center;
    font-size:15px;
    line-height: 24px;
    font-family: 'Gotham Light';
}
#about > div > div > h4 {
    margin: 7vh 0 3vh 0;
    font-size: 18px;
    line-height: 36px;
}
/* ******************************** News ******************************** */
#news{
    margin-top: 10vh;
}

#news > div{
    display: flex;
}
#news > div> div >img{
    object-fit: cover;

}
#news > div > div{
    padding: 70px
}

#news > div > div > h3{
    font-family: "gotham book";
    
}

.titre1{
    
    color: white;

}
.titre2{
    color: black;
}

.texte1{
    margin: 30px 0px;
    
    font-family: "gotham medium";
    text-align: justify;
    color: white;
}
.texte{
    font-family: "gotham medium";
    text-align: justify;
    color: white;
}
.texte0{
    font-family: "gotham medium";
    text-align: justify;
    color: black;
}
.texte2{
    margin: 30px 0px;
    font-family: "gotham medium";
    text-align: justify;
    color: black;
}

#news > div > *{
    width: 50%;
    overflow: hidden;
}

.groupe1{
    background-color: #222222 ;
}

.groupe2{
    background-color:#F3F3F3;
}
.image{
    transform: scale (1);
    width: 100%;
    height: 100%;
    transition:0.3s ease-in-out;
}
.image:hover{
    transform: scale(1.15);
    z-index: 0;
}
.containerImg{
    padding: 0px !important;
}

#news > div:nth-child(2){
    flex-direction: row-reverse;
}

/* ******************************** Blog ******************************** */
#blog{
    min-height:100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 100px 13.63vw;
}
#blog > div:nth-child(1){
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#blog > div:nth-child(1) > h3 {
    color: #D21242;
    font-family: 'Roboto', sans-serif;
    font-size: 247px;
    line-height: 211px;
    font-weight: 900;
    position: absolute;
}
#blog > div:nth-child(1) > h2 {
    font-family: 'Gotham Bold', sans-serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 45px;
    color: #222222;
    z-index: 2;
}
#blog > h4{
    margin: 100px 0;
    font-family: 'Gotham Light', sans-serif;
    line-height: 37px;
    font-size: 30px;
    text-align: center;
}
#blog > div:nth-child(3){
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
#blog > div:nth-child(3) > div{
    width: 270px;
    display: flex;
    min-height: 500px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
#blog > div:nth-child(3) > div >  img {
    width: 100%;
    height: auto;
}
#blog > :nth-child(3) > div > p {
    text-align: center;
    font-size: 18px;
}

/* ******************************** Quick Action area ******************************** */

#action{
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height: 40vh;
    background-color:#D21242;
    padding: 0 13.63vw;
}
#action > div {
    display: flex;
    width: 50vw;
    padding-right: 100px;
    padding-bottom: 75px;
    align-items: center;
}
#action > div:nth-child(2){
    padding-right: 0;
}

#action > div > p {
    margin-left: 21px;
    color: white;
    font-family: "gotham medium";
    font-size: 15px;
}

footer {
    display: flex;
    width: 100%;
    padding: 0 13.63%;
    background-color: #242424;
    align-items: center;
    height: 20vh;
    justify-content: space-between;
}

footer > p {
    color: white;
}
@media all and (max-width:1300px) {
    .groupe1 > p:nth-child(3) {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 1024px) {
    #creatives{
        font-size: 75px;
    }
  nav{
        justify-content: flex-end;
    }
    #burger{
        display: block;
    }
    #nav-content {
        display: none;
    }
    #logo{
        display: none;
    }
    #nav-content-mobile{
        display: flex;

    }
    #news > div , #news > div:nth-child(2){
        flex-direction: column;

    }
    #news > div > div{
        width: 100%;
        padding-bottom:100px;
    }
    #news > div > img{
        width: 100%;
        height: auto;
    }
    #action {
        flex-direction: column;
        padding: 100px 0 0 0;
    }
    #action> div {
        padding-right: 0;
    }
    #nav-content-mobile{
        font-size: 50px;
    } 
}
@media screen and (max-width: 510px) {
    #creatives{
        font-size: 55px;
    }
  footer{
        flex-direction: column;
        padding: 50px 0;
    
    }
    #action > div {
        flex-direction: column;
        gap: 20px;
    }
    #action > div > p {
        text-align: center;
    }
}